<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="anId" android:versionCode="174" android:versionName="1.8.0-SNAPSHOT" package="edu.vu.isis.ammo">

    <!-- the version code is set via the 'version.code' variable in the ant script -->
    <uses-sdk android:minSdkVersion="8"/>

    <application android:debuggable="true" android:icon="@drawable/brand_icon" android:label="Library Test">
        <activity android:label="Library Test" android:name="AmmoLib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>